Repository nbfritz/points: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, annotate, brakeman

lefthook.yml:

# Refer for explanation to following link:
# https://lefthook.dev/configuration/
#
pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --config .rubocop.yml --force-exclusion --parallel --autocorrect {staged_files}
      stage_fixed: true
    annotate:
      glob: "db/**/*.{rb,sql}"
      run: bundle exec annotate --models && git add app spec
      stage_fixed: true
    brakeman:
      glob: "*.rb"
      run: bundle exec brakeman --quiet --no-pager --no-summary --force --only-files {staged_files}

Add README
  README.md
Due: none

Old school CSS theming
  app/assets/stylesheets/_reset.css
  app/assets/stylesheets/application.css
  app/assets/stylesheets/forms.css
  app/views/layouts/application.html.erb
  app/views/players/_form.html.erb
  app/views/players/edit.html.erb
  app/views/players/index.html.erb
  app/views/players/new.html.erb
Due: none

Old school CSS theming (#1)
  app/assets/stylesheets/_reset.css
  app/assets/stylesheets/application.css
  app/assets/stylesheets/forms.css
  app/views/layouts/application.html.erb
  app/views/players/_form.html.erb
  app/views/players/edit.html.erb
  app/views/players/index.html.erb
  app/views/players/new.html.erb
Due: none

Add lefthook
  Gemfile
  Gemfile.lock
  lefthook.yml
Due: none

Add Lefthook
  Gemfile
  Gemfile.lock
  lefthook.yml
Due: none

Add stock authentication system with some tweaks.
  Gemfile
  Gemfile.lock
  app/channels/application_cable/connection.rb
  app/controllers/application_controller.rb
  app/controllers/concerns/authentication.rb
  app/controllers/passwords_controller.rb
  app/controllers/sessions_controller.rb
  app/mailers/passwords_mailer.rb
  app/models/current.rb
  app/models/session.rb
  app/models/user.rb
  app/views/passwords/edit.html.erb
  app/views/passwords/new.html.erb
  app/views/passwords_mailer/reset.html.erb
  app/views/passwords_mailer/reset.text.erb
  app/views/sessions/new.html.erb
  app/views/sessions/show.html.erb
  config/environments/development.rb
  config/routes.rb
  db/migrate/20250524175928_create_users.rb
  db/migrate/20250524175929_create_sessions.rb
  db/schema.rb
  db/seeds.rb
  test/fixtures/users.yml
  test/mailers/previews/passwords_mailer_preview.rb
  test/models/user_test.rb
Due: rubocop, annotate, brakeman

Add stock authentication system with some tweaks. (#13)
  Gemfile
  Gemfile.lock
  app/channels/application_cable/connection.rb
  app/controllers/application_controller.rb
  app/controllers/concerns/authentication.rb
  app/controllers/passwords_controller.rb
  app/controllers/sessions_controller.rb
  app/mailers/passwords_mailer.rb
  app/models/current.rb
  app/models/session.rb
  app/models/user.rb
  app/views/passwords/edit.html.erb
  app/views/passwords/new.html.erb
  app/views/passwords_mailer/reset.html.erb
  app/views/passwords_mailer/reset.text.erb
  app/views/sessions/new.html.erb
  app/views/sessions/show.html.erb
  config/environments/development.rb
  config/routes.rb
  db/migrate/20250524175928_create_users.rb
  db/migrate/20250524175929_create_sessions.rb
  db/schema.rb
  db/seeds.rb
  test/fixtures/users.yml
  test/mailers/previews/passwords_mailer_preview.rb
  test/models/user_test.rb
Due: rubocop, annotate, brakeman

Update a bunch of gem versions.
  Gemfile.lock
Due: none

Update a bunch of gem versions. (#14)
  Gemfile.lock
Due: none

Cover auth system with tests.
  app/controllers/passwords_controller.rb
  test/controllers/passwords_controller_test.rb
  test/controllers/sessions_controller_test.rb
  test/test_helper.rb
  test/test_helpers/controller_test_assertions.rb
Due: rubocop, brakeman

Cover auth system with tests. (#18)
  app/controllers/passwords_controller.rb
  test/controllers/passwords_controller_test.rb
  test/controllers/sessions_controller_test.rb
  test/test_helper.rb
  test/test_helpers/controller_test_assertions.rb
Due: rubocop, brakeman

16: Initial page layout build
  app/assets/stylesheets/application.css
  app/assets/stylesheets/reset.css
  app/views/layouts/application.html.erb
  app/views/sessions/new.html.erb
Due: none
